*{
    margin: 0;
    padding: 0;
}
.nav{
    list-style: none;
    background-color: black;
    text-align: center;
}
.navitem{
    display: inline-block;
    margin: 20px;
    color: white;
}
.table{
    width: 100%;
}
.t1c1{
    width:50%;
    padding: 20px;
}
.t1c2{
    width: 50%;
    padding: 20px;
    text-align: center;
}
section{
    padding: 50px;
}
.t1c2 img{
    width: 80%;
}
.t2c1{
    width: 25%;
}
.t2c2{
    width: 25%;
}
.t2c3{
    width: 25%;
}
.t2c4{
    width: 25%;
}
.box{
    width: 80%;
    height: 200px;
    border: solid black 2px;
}
